@mixin alert($color) {
  background-color: lighten($color, 45%);
  color: $color;

  .close:hover {
    color: darken($color, 10%);
  }
}

.alert-list {
  bottom: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 15px;
}

.alert {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  width: 250px;

  &.notice {
    @include alert($blue);
  }

  &.error {
    @include alert($red);
  }

  .close {
    align-self: flex-start;
    cursor: pointer;
    float: right;
    opacity: 0.5;
  }
}
