// Main styles
@import "~todomvc-app-css/index";

// Variables
$white: #fff;
$green: #5dc2af;
$text-default: #4d4d4d;
$text-light: #d9d9d9;

// Use pointer cursor for buttons
.destroy,
.toggle,
.toggle-all {
  cursor: pointer;
}

// Click and Drag Styles
.footer {
  position: relative;
  z-index: 2;

  &.over {
    margin-top: -1px;
  }
}

.over {
  border-top: 2px solid $green;
}

.todo-list {
  position: relative;
  z-index: 0;

  > li {
    background: $white;
    position: relative;
    z-index: 1;

    &.completed .label {
      color: $text-light;
      text-decoration: line-through;
    }

    &.dragging {
      opacity: .25;
    }

    &.loading .label {
      color: $text-light;
      cursor: default;
      margin: 0;
      padding: 15px;
      text-align: center;
    }

    &.over {
      margin-top: -2px;
    }

    .label {
      cursor: move;
      display: block;
      line-height: 1.2;
      margin-left: 45px;
      padding: 15px 60px 15px 15px;
      transition: color 0.4s;
      word-break: break-all;
    }
  }
}
