- provide(:head) do
  = style_tag "app.style.bundle"

%section.todoapp#app
%footer.info
  %p Double-click to edit a todo
  %p
    Created by
    = link_to "Griffin Yourick", "https://github.com/tough-griff"

= javascript_include_tag "app.bundle"
