- provide(:head) do
  = webpack_style_tag "app"

%section.todoapp#app
%footer.info
  %p Double-click to edit a todo
  %p
    Created by
    = link_to "Griffin Yourick", "https://github.com/tough-griff"

= webpack_js_tag "app"
