- content_for :head do
  = include_webpack_assets("app")

#react-app
%footer.info
  %p Double-click to edit a todo
  %p
    Created by
    = link_to "Griffin Yourick", "https://github.com/tough-griff"
